<!DOCTYPE html>
<html>
<head>
    <title>UNav</title>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/theme.css') }}">
    <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
</head>
<body class="light-mode">
    <h1>Navigation Server</h1>
    <div class="container">
        <div class="top-section">
            <div class="left-side">
                <div class="button-container">
                    <button onclick="openSettings()">Settings</button>
                    <button onclick="startServer()">Start Server</button>
                    <button onclick="terminateServer()">Terminate Server</button>
                </div>
                <div class="button-container">
                    <button onclick="openImageBrowser()">Browse Query Image</button>
                </div>
                <img id="query_image_preview" src="" alt="Selected Image Preview"/>
            </div>
            <div class="right-side">
                <div class="button-container">
                    <button onclick="goToMonitorPage()">Monitor</button>
                </div>
                
                <div class="button-container">
                    <button onclick="localize()">Localize</button>
                    <button onclick="openSelectDestination()">Select Destination</button>
                    <button onclick="navigate()">Navigate</button>
                </div>
                <canvas id="floorplan_preview"></canvas>
                <div id="pose_output">Pose: </div>
                <div id="destination_output">Selected Destination: </div>
                <div id="path_output">Path: </div>
            </div>
        </div>
        <div class="bottom-section">
            <div id="server_output"></div>
            <div id="camera_streams_container"></div>
        </div>
    </div>
    <!-- Theme toggle button -->
    <button class="theme-toggle-button light-mode" onclick="toggleTheme()">L</button>

    <!-- The Settings Modal -->
    <div id="settingsModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeSettings()">&times;</span>
            <h2>Settings</h2>
            <form id="settingsForm">
                <div class="form-group">
                    <label for="place">Place</label>
                    <select id="place" name="place" onchange="updateBuildingOptions()"></select>
                </div>
                <div class="form-group">
                    <label for="building">Building</label>
                    <select id="building" name="building" onchange="updateFloorOptions()"></select>
                </div>
                <div class="form-group">
                    <label for="floor">Floor</label>
                    <select id="floor" name="floor" onchange="updateScale()"></select>
                </div>
                <div class="form-group">
                    <label for="scale">Scale</label>
                    <input type="number" id="scale" name="scale" value="0" step="0.00000000001">
                </div>
                <button type="button" onclick="submitSettings()">Submit</button>
            </form>
        </div>
    </div>

    <!-- The Select Destination Modal -->
    <div id="selectDestinationModal" class="modal">
        <div class="modal-content" id="selectDestinationModalContent">
            <span class="close" onclick="closeSelectDestination()">&times;</span>
            <h2>Select Destination</h2>
            <div class="canvas-container">
                <canvas id="floorplan_canvas"></canvas>
            </div>
            <button onclick="submitDestination()">Submit</button>
        </div>
    </div>

    <!-- The Image Browser Modal -->
    <div id="imageBrowserModal" class="modal">
        <div class="modal-content" id="imageBrowserModalContent">
            <span class="close" onclick="closeImageBrowser()">&times;</span>
            <h2>Browse Query Image</h2>
            <div id="image_browser"></div>
        </div>
    </div>
</body>
</html>
