<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Already Verified</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/page_confirmation.css') }}">
</head>
<body>
    <div class="container">
        <h1>Email Already Verified</h1>
        <p>Your email has already been verified, and your account is active.</p>
        <p>You can log in to your account.</p>
        <button class="btn" onclick="window.close()">Okay</button>
    </div>
</body>
</html>
