/* Default light mode styles */
body.light-mode {
    background-color: #ffffff;
    color: #000000;
}

body.dark-mode {
    background-color: #333333;
    color: #ffffff;
}

/* Theme toggle button styles */
.theme-toggle-button {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    border: none;
    outline: none;
}

/* Light mode button styles */
.theme-toggle-button.light-mode {
    background-color: #333;
    color: #fff;
}

/* Dark mode button styles */
.theme-toggle-button.dark-mode {
    background-color: #fff;
    color: #000;
}

/* System preference: Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #333333;
        color: #ffffff;
    }

    .theme-toggle-button {
        background-color: #fff;
        color: #000;
    }
}

/* System preference: Light mode */
@media (prefers-color-scheme: light) {
    body {
        background-color: #ffffff;
        color: #000000;
    }

    .theme-toggle-button {
        background-color: #333;
        color: #fff;
    }
}
