<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Floorplan Viewer</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sub/floorplan.css') }}">
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/sub/floorplan.js') }}" defer></script>
</head>
<body>
    <div id="floorplan_container">
        <canvas id="floorplan_canvas"></canvas>
        <div id="live_stream_container">
            <img id="live_stream" src="" alt="Live Stream">
        </div>
    </div>
</body>
</html>
