<!DOCTYPE html>
<html>
<head>
    <title>Monitor Camera Streams</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sub/monitor.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/theme.css') }}">
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/sub/monitor.js') }}" defer></script>
</head>
<body>
    <h1>Camera Streams</h1>
    <div id="camera_streams_container"></div>

    <script>
        window.onload = function() {
            const savedTheme = localStorage.getItem('theme') || 'light-mode';
            document.body.classList.add(savedTheme);
        };        
    </script>
</body>
</html>
